
.header{
    background-image: url("./assets/images/myHeroBg.png");
    background-repeat: no-repeat;
}
.webdev-img{
    background-image: url("./assets/images/WebDevBg.png");
    background-size: cover;
}
#contact-img{
    background-image: url("./assets//images//contactAiImg.jpg");
    background-size: cover;
    background-position: center;
}
